ErrorDocument 404 /public_library/html/404.php
ErrorDocument 403 /public_library/html/403.php
ErrorDocument 402 /public_library/html/404.php
ErrorDocument 401 /public_library/html/404.php

#new change here
php_value include_path ".:/home/derekweb/public_html/watch.developmented.com/"
php_value auto_prepend_file "prepend_php_library/documentRootOverride.php"